@font-face {
  font-family: 'BalooTamma2';
  src: local('BalooTamma2'), url(./components/fonts/BalooTamma2-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Baloo Tamma 2', cursive, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}